$main-grey: #898989;
$main-white: #fff;
$main-black: #3a3a3a;
$main-jellow: #e89f71;

//-----------------------------------------------------------------
//variables
$md1: 1120;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//-----------------------------------------------------------------
