.page {
  &__furniture {
  }
}

.furniture {
  @include adaptiv-value("padding-bottom", 85, 40, 1);
  &__container {
  }
  &__label {
    color: #616161;
    font-weight: 600;
    @include adaptiv-value("font-size", 20, 16, 1);
    line-height: 150%;
    text-align: center;
    &:not(:last-child) {
      margin: 0px 0px calc(8px / 20px) * 1em 0px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }
  &__body {
    position: relative;
    @media (any-hover: none) {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    width: 100vw;
    gap: 16px;
    @media (any-hover: hover) {
      justify-content: center;
      overflow: hidden;
    }
  }
  &__column {
    display: flex;
    /*   flex-wrap: wrap; */
    align-items: center;
    margin: 0 -8px;
    gap: 16px;
    grid-template-columns: auto;
    grid-auto-flow: column;
    &:nth-child(2) {
      margin: 0 auto;
    }
    &:nth-child(3) {
      /* flex-direction: row; */
    }
    @media (any-hover: hover) {
      flex-wrap: nowrap;
    }
    &:first-child {
      justify-content: flex-end;
    }
  }
  &__row {
    display: inline-grid;
    padding: 0 8px;
    &:not(:last-child) {
      margin: 0 0 16px 0;
    }
  }
}
._title {
}
.row-furniture {
  &__item {
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
    @media (any-hover: hover) {
      img {
        transition: all 0.3s ease 0s;
        filter: grayscale(1);
      }
      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }
    /* display: block; */
    /* width: 100%;
    min-height: 200px; */
    img {
      /*  width: 100%;
      min-height: 200px; */
    }
  }
}
.row-furniture_left-top {
  justify-content: end;
  align-items: end;
}
.row-furniture_left-bottom {
  justify-content: end;
  align-items: start;
}
.row-furniture_center {
  display: block;
}
.row-furniture_right-top {
  align-items: end;
}
.row-furniture_right-bottom {
  align-items: start;
}
