@import "base/bootstrap-reboot";
@import "base/vars";
@import "base/container";
@import "base/fonts";
@import "base/icons-font";
@import "base/mixins";
@import "base/ui";

@import "blocks/footer";
@import "blocks/header";
@import "blocks/page-main__slider";
@import "blocks/slider-training";
@import "blocks/page-advantages";
@import "blocks/page-products";
@import "blocks/page-rooms";
@import "blocks/page-tips";
@import "blocks/page-furniture";
@import "media/media";

// &display=swap  - добавить в конец кода при использовании плагина для подключения шрифта

//шрифт за замовчуванням вказати в бутстрапі, або підключити самому.

.page {
  flex: 1 1 auto;
  min-height: 125px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body {
  /* display: flex;
  flex-direction: column; */
  overflow: visible;
  overflow-x: hidden;
  /* @media (min-width: ($md2 + px)) {
    @include adaptiv-value("width", 934, 290, 1);
  } */
}

.time__wrapper {
  height: 125px;
  @media (max-width: ($md2 + px)) {
    height: 80px;
  }
  @media (max-width: ($md3 + px)) {
    height: 50px;
  }
}
